{% extends "_master_auth.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block og_title %}{{ heading }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block page_class %}page_login{% endblock %}

{% block content %}
    {% if password_reset_token %}
        <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8" x-data="setNewPasswordPage()">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto h-12 w-auto" src="{{ STATIC_URL }}console/images/logo.svg"
                     alt="BackupSheep">
                <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Set New Password</h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form class="space-y-6" action="javascript:void(0);" method="POST">

                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Password</label>
                            <div class="mt-1">
                                <input x-model="auth.password" id="password" name="password" type="password"
                                       autocomplete="password"
                                       required
                                       class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm">
                                <p x-show="resetErrors?.password" class="mt-2 text-sm text-red-600" id="name-error"
                                   x-text="resetErrors?.password"></p>
                            </div>
                        </div>

                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                            <div class="mt-1">
                                <input x-model="auth.password_confirm" id="password_confirm" name="password_confirm"
                                       type="password"
                                       autocomplete="password"
                                       required
                                       class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm">
                                <p x-show="resetErrors?.password_confirm" class="mt-2 text-sm text-red-600"
                                   id="name-error"
                                   x-text="resetErrors?.password_confirm"></p>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                <a href="{% url 'console:auth:login' %}"
                                   class="font-medium text-teal-600 hover:text-teal-500">Never mind, back to login</a>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <template x-for="non_field_error in resetErrors.non_field_errors">
                                <div class="rounded-md bg-red-50 p-2 w-full">
                                    <div class="flex">
                                        <div class="text-sm text-red-700">
                                            <p x-text="non_field_error"></p>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>

                        <div>
                            <button @click="saveNewPassword()"
                                    class="flex w-full justify-center rounded-md border border-transparent bg-teal-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2">
                                Save New Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
            <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
                <div class="relative">
                    <div class="absolute">
                        <div class="">
                            <h1 class="my-2 text-gray-800 font-bold text-2xl">
                                Looks like you've found the
                                doorway to the great nothing
                            </h1>
                            <p class="my-2 text-gray-800">Sorry about that! Please visit our hompage to get where you
                                need to go.</p>
                            <button class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-teal-600 text-white hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-700 focus:ring-opacity-50">
                                Take me there!
                            </button>
                        </div>
                    </div>
                    <div>
                        <img src="{{ STATIC_URL }}console/images/404.png" alt="not found"/>
                    </div>
                </div>
            </div>
            <div>
                <img src="{{ STATIC_URL }}console/images/unplug.png" alt="not found"/>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    {% if password_reset_token %}
        <script>
            document.addEventListener('alpine:init', () => {
                Alpine.data('setNewPasswordPage', () => ({
                    loading: null,
                    auth_multi_factor: null,
                    auth: {},
                    resetErrors: {},
                    init() {

                    },
                    async saveNewPassword() {
                        this.loading = true;
                        Alpine.store('showLoading').toggle("Authenticating your account. Don't refresh page.");

                        let url = "/api/v1/auth/reset/";

                        let data = {
                            password: this.auth.password,
                            password_confirm: this.auth.password_confirm,
                            password_token: "{{password_reset_token}}",
                        };

                        let response = await fetch(url, {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            method: 'PATCH',
                            body: JSON.stringify(data)

                        }).then(async (response) => {
                            Alpine.store('showLoading').toggle();
                            if (response.ok) {
                                return response.json();
                            } else {
                                this.loading = false;
                                let json;
                                try {
                                    json = await response.json();
                                } catch (exception_var) {
                                    json = {detail: response.status + " - " + response.statusText + ". Please contact support."};
                                }
                                this.resetErrors = json;
                                throw new Error(json.detail);
                            }

                        }).then((json) => {
                            Alpine.store('notifications').items.push({
                                show: true,
                                success: true,
                                heading: 'Success!',
                                details: json.detail
                            });
                            this.loading = false;

                            if (json.auth_multi_factor) {
                                this.auth_multi_factor = json.auth_multi_factor;
                            } else {
                                /** if (json.next) {
                                 window.location = json.next;
                                 } else {
                                 window.location = '/console';
                                 }
                                 **/
                            }

                        }).catch((error) => {
                            Alpine.store('notifications').items.push({
                                show: true,
                                error: true,
                                heading: 'Error!',
                                details: error.message
                            });
                        });
                    },
                }));
            });
        </script>
    {% endif %}
{% endblock %}
