@tailwind base;
@tailwind components;
@tailwind utilities;

.mdl-shadow--2dp {
    box-shadow: none;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
    height: 34px;
    padding-right: 8px;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 36px;
}
.select2-container .select2-selection--single .select2-selection__clear {
    height: 34px;
    padding-right: 8px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

  .lg\:w-128 {
    width: 36rem;
  }