{% extends "console/_master.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block meta_title %}{{ heading }}{% endblock %}
{% block meta_description %}{{ heading }}{% endblock %}
{% block meta_keywords %}{{ heading }}{% endblock %}
{% block page_class %}page_console console-page sb-l-o sb-r-c{% endblock %}
{% block heading %}false{% endblock %}
{% block content %}
    {% if storage %}
        {% include "console/setup/_setup_and_list_storage.html" %}
    {% elif integration %}
        {% include "console/setup/_setup_and_list_connection.html" %}
    {% endif %}
{% endblock %}
