{% for message in messages %}
    <div class="px-4 pb-6 sm:px-6 lg:px-10">
        <div class="flex items-start gap-x-3 rounded-xl px-4 py-3.5 shadow-soft ring-1 ring-inset {% if message.tags == "error" %}bg-rose-50 ring-rose-600/20{% else %}bg-emerald-50 ring-emerald-600/20{% endif %}">
            <svg class="h-5 w-5 shrink-0 {% if message.tags == "error" %}text-rose-500{% else %}text-emerald-500{% endif %}"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" aria-hidden="true">
                {% if message.tags == "error" %}
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"></path>
                {% else %}
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                {% endif %}
            </svg>
            <p class="text-sm font-medium {% if message.tags == "error" %}text-rose-800{% else %}text-emerald-800{% endif %}">
                {{ message }}
            </p>
        </div>
    </div>
{% endfor %}
